<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_login.css') }}">
</head>
<body>
    <h1>User Login</h1>
    <form method="post" action="/user/login">
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="Login">
    </form>
    <a href="/user/signup">Signup</a>
</body>
</html>
